<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h5>Edit Category</h5>
      <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
        <div class="form-group">
          <label for="name">Category Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="category.category" required>
        </div>


        <button type="submit" class="btn btn-primary mt-3">Save</button>
      </form>
    </div>
  </div>
</div>
