<div class="container">
  <div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <h5>Categories List</h5>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchQuery" (input)="searchCategories()">
        </div>
        <table class="table table-hover table-responsive-lg mt-4">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of filteredCategories | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{ category.idCategory }}</td>
            <td>{{ category.category }}</td>
            <td>
              <a class="btn btn-primary" href="/categories/{{ category.idCategory }}" (click)="show(category)">Show</a>
              <a class="btn btn-warning" [routerLink]="['/edit-category/', category.idCategory]">Edit</a>
              <a class="btn btn-danger" (click)="deleteCategory(category.idCategory)">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div><p>categories works!</p>
